
// These pin mappings are for an NRF52840 DK board.
// Change them to whatever is most convenient for your use.

/ {
  zephyr,user {
      /* Signal from the target device to synhronize */
      target_trigger_gpios = <&gpio0 31 GPIO_ACTIVE_HIGH>;

      /* Signal controlling the target's power supply */
      target_power_gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;

      /* Signal from the target device that glitching succeeded. */
      target_success_gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
  };

};
